<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/admin.css">
    <title>Sistema Academico</title>
    <link rel="icon" href="./images/title.png" type="image/x-icon">
</head>

<body class="flex__ItemsCenter">

    <header class="header__home flex__JustifyBetween">
        <div>
            <img src="" alt="">
        </div>
        <Nav>
            <ul class="flex__JustifyCenter">
                <li>
                    <a href="/">Pagina de inicio</a>
                </li>
                <li>
                    <a href="/login">Iniciar Sesion</a>
                </li>
                <li>
                    <a href="/servicios">Servicios</a>
            </ul>
        </Nav>
    </header>

    <main>
        <div class="about__us__section__container flex__JustifyCenter__ItemsCenter">
            <div class="about__us__section__content">
                <h1>Acerca de nuestra empresa</h1>
                <p>Somos un sistema academico que busca dar solución al manejo de la informacióon para la gestión de usuarios.
                </p>
            </div>
            <div class="about__us__section__content">
                <h1>Misión</h1>
                <p>Facilitar la gestión eficiente y efectiva de todos los procesos relacionados con la administración y 
                    el funcionamiento de una institución educativa. Esto incluye actividades como la inscripción de 
                    estudiantes, el registro de calificaciones, la gestión de horarios y recursos, la comunicación 
                    con los padres y estudiantes, la generación de informes y estadísticas, entre otros aspectos clave
                    de la gestión académica.
                </p>
            </div>
            <div class="about__us__section__content">
                <h1>Visión</h1>
                <p>Ser una plataforma integral y eficiente que transforme la experiencia educativa, 
                    brindando soluciones innovadoras y tecnológicas que impulsen el éxito académico y 
                    administrativo de la institución. Algunos elementos clave de la visión de un sistema
                    de información académico podrían incluir.
                </p>
            </div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-left">
                    <div class="footer-links">
                        <h3 class="footer-links-title">Links Rapidos</h3>
                        <ul class="footer-links-list">
                            <li><a href="#">Ubicación de la institucion educativa</a></li>
                            <li><a href="/nosotros">Acerca de Nosotros</a></li>
                            <li><a href="#">Soporte</a></li>
                        </ul>
                    </div>
                    <div class="footer-care">
                        <h3 class="footer-care-title">Servicio al Estudiante</h3>
                        <ul class="footer-care-list">
                            <li><a href="#">Servicio al Estudiante</a></li>
                            <li><a href="#">Cursos disponibles</a></li>
                            <li><a href="#">Términos y Condiciones</a></li>
                            <li><a href="/contacto">Contactános</a></li>
                            <li><a href="#">Carreras disponibles</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-contact">
                        <div class="footer-contact-twitter">
                            <h3 class="footer-twitter-title">Preguntas</h3>
                            <span class="footer-twitter-desc"><img src="images/twitter-icon-gray.jpg" alt="Twitter Icon">
                                Tweet <a href="/contacto">@sistemacademico</a></span>
                        </div>
                        <div class="footer-contact-phone">
                            <h3 class="footer-phone-title">Consulta aqui</h3>
                            <span class="footer-phone-desc"><a href="tel: 3203492590">3203492590</a></span>
                        </div>
                    </div>
                    <div class="footer-social">
                        <span class="footer-social-desc">Contamos con cursos 100% certificaciones ademas
                            de acreditaciones de alta calidad
                        </span>
                        <span class="footer-social-links">
                            <a href="#"><img src="images/fb-icon.jpg" alt="Facebook Icon"></a>
                            <a href="#"><img src="images/twitter-icon-color.jpg" alt="Twitter Icon"></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="footer-copyright">&copy; 2024, Cristian Alarcon y Sergio Martinez.</p>
                <ul class="footer-info">
                    <li><a href="#">Politecnico Grancolombiano</a></li>
                    <span class="footer-social-links-mobile">
                        <a href="#"><img src="images/fb-icon.jpg" alt="Facebook Icon"></a>
                        <a href="#"><img src="images/twitter-icon-color.jpg" alt="Twitter Icon"></a>
                    </span>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>